:root {
  --ecart-main-bg-color: #343e4d;
  --ecart-secondary-bg-color: #5c77a0;
  --ecart-main-text-color: white;
  --ecart-btn-bg-color: #9d00ff;
  --ecart-btn-bg-hover: #c06ff3;
  --ecart-border-color: blueviolet;
  --ecart-empty-btn-color: #e9ecef;
  height: 100%;
  width: 100%;
  background-color: var(--ecart-main-bg-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
